    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <div class="row-fluid">
            <div class="span12">
              <div class="logo">
                <a href="https://www.virtualmaster.com/" id="vm_logo">
                </a>
              </div>
              <div class="nav-collapse collapse">
                <nav>
                  <ul id="menu-menu" class="nav" ng-repeat="application in applications">
                    <li>
                      <a href="#/{{application.toLowerCase()}}">
                        {{application}}
                      </a>
                    </li>
                  </ul>
                  <!--
                  <ul id="menu-sign-in" class="nav">
                    <li>
                      <a href="">
                        Sign in
                      </a>
                    </li>
                  </ul>
                  -->
                </nav>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
